.authContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 1.6rem;

	width: 35rem;
	border-radius: 1.6em;

	box-shadow: 0 0 2em .1em black;
	background-color: var(--bg2-color);
	backdrop-filter: blur(.6em);

	& h1 {
		border-bottom: .05em solid #404040;
	}
}

.authForm {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
	width: 100%;
	margin: 1rem 0;

	& input {
		font-size: 1em;
		width: 80%;

		height: 2rem;
		padding: .6em;
		margin-bottom: .2em;
	}

	& button {
		font-size: 1rem;
		width: 60%;
		margin-top: 1em;
		height: 2em;
		background-color: rgb(63, 102, 255);
		cursor: pointer;
		border: none;
		border-radius: .4em;

	}

}

a {
	text-decoration: none;
	color: rgb(63, 102, 255);
	font-style: italic;
}
