.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
}


.text {
  font-weight: bold;
  color : rgb(207, 207, 207);

  text-shadow:
    0 0 16px #b10000,
    0 0 32px #dc2b2b,
    0 0 64px #d54c4c,
    0 0 128px #ffabab;

  /* width: 100%; */
}

._404 {
  /* font-weight: bold; */
  font-size: 10rem;
}

.pnf {
  font-size: 2.4rem;
  font-family: "Courier New", Courier, monospace;
}
